table {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding: 0 20%;
  border-spacing: 10px;
  border-collapse: collapse;
  margin-bottom: 50px
}

thead {
  margin: auto;
  padding: 30px 20px;
}

th {
  padding: 0;
  font-size: 1.7em;
}

.week-th,
.week-materials {
  width: 8%;
}

@media screen and (max-width: 1047px) {
  table {
    padding: 0 10px;
  }
}