.vdo-display {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  flex-grow: 1;
}

.Vid {
  margin: 10px;
  width: 375px;
}

iframe {
  width: 375px !important;
  height: 186px !important;
}

.intro {
  text-align: justify;
  padding: 0 5px;
}

svg {
  left: 0;
}

.note {
  text-align: justify;
  font-weight: bold;
  color: #3B5550;
}

@media screen and (max-width: 1069px) {
  .Videos {
    margin: 0;
  }
  .vdo-display {
    padding: 0;
  }
}