.vdo-display {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
}

.Vid {
  margin: 10px;
  width: 320px;
}

.intro,
.ReactYoutube {
  width: 100%;
  text-align: justify;
}

/*
.Vid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  margin: .5%;
  width: 40%;
  border: 1px solid black;
}
}*/

/*.ReactYoutube-PlayAwait.ReactYoutube-fadeDone {
  width: 642px !important;
  height: 362px !important;
}
*/
.ReactYoutube-PlayAwait.ReactYoutube-fadeDone {
  width: 320px !important;
  height: 180px !important;
}

svg {
  left: 0;
}

.note {
 /* width: 64%;*/
/*  text-align: justify;*/
  font-weight: bold;
  color: #3B5550;
  /*margin: 49px auto 27px;*/
}

@media screen and (max-width: 719px) {
  .Videos {
    margin: 0;
  }
}