.Home {
  margin: 0;
  height: 76vh;
  background-image: url('../img/homepage.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  position: fixed;
  top: 40%;
  margin: 0;
  width: 100%;
  height: 100%;
  color: beige;
  font-size: 3.8em;
  font-family: 'Fondamento', cursive;
  letter-spacing: 4px;
  vertical-align: middle;
}

@media screen and (max-width: 662px) {
  .title {
    font-size: 3em;
  }
}

@media screen and (max-width: 360px) {
  .title {
    top: 25%;
  }
}