.Home {
  position: relative;
  margin: 0;
  height: 76vh;
  background-image: url('../img/homepage.jpeg')
}

.title {
  position: relative;
  top: 40%;
  margin: 0;
  width: 100%;
  color: beige;
  font-size: 3.8em;
  font-family: 'Fondamento', cursive;
  letter-spacing: 4px;
  vertical-align: middle;
}
.abrahamicNights {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 1024px) {
  .Home {
    height: 86vh;
    background-repeat: no-repeat;
    background-size: cover
  }
}

@media screen and (max-width: 662px) {
  .title {
    font-size: 3em;
  }
}

@media screen and (max-width: 320px) {
  .title {
    top: 32%;
  }
}