.App {
  text-align: center;
}

ul { 
  padding: 5px 0;
}

li {
  display: inline;
  list-style: none;
  margin: auto;
}

main {
  position: absolute;
  width: 100%;
}

main.Content {
  top: 100px;
  bottom: 100px;
  overflow: scroll;
}

footer {
  bottom: 0;
}

ul, 
footer {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-evenly; 
  position: fixed;
  z-index: 10;
  height: 12vh;
  width: 100%;
  background-color: #263934;
  margin: 0;
  letter-spacing: 2px;
  font-family: 'Fondamento', cursive;
  font-size: 1em;
}

li,
.nav,
footer {
  color: beige;
  text-decoration: none;
}

.nav {
  text-decoration: none;
  font-weight: bold;
  color: beige;
}
li:hover,
li:active,
.footer-nav:hover,
.selected {
  text-decoration-line: underline;
  text-decoration-style: double;
}

footer p,
.footer-nav,
.footer-nav:active,
.footer-nav:visited {
  color: beige;
  margin: auto;
  text-decoration: none;
}

@media screen and (max-width: 762px) {
  .Readings {
    padding: 0;
  }

  ul,
  footer {
    flex-direction: column;
    height: 100px;
    justify-content: center
  }

  footer {
    padding: 0;
  }

  li {
    width: 100%;
    padding: 0px
  }
}