.Readings {
  margin-bottom: 50px;
  padding: 0 20% 1%;
}

h2 {
  margin: 0;
  padding: 30px 20px 0;
}

h3 {
  margin: 0;
}

@media screen and (max-width: 1069px) {
	.Readings {
		padding: 0 10px;
	}
}