.extra-div {
  padding: 10px;
  text-align: justify;
}

.extra-div p,
.extra-div a {
  display: inline;
  margin: 0;
}

.topic {
  margin: 20px 27px 10px;
  text-align: center;
  font-weight: bold;
}

hr {
  margin: 0 10px;
}